{% extends "recipe_app/base.html" %}
{% block content %}
    <div class="row panel form-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><img src="{{ product.image.url }}" class="img-responsive" alt=""></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td><form action="/payment-accepted/" method="POST">

                                {%csrf_token%}
                                <script
                                    src="https://checkout.stripe.com/checkout.js/" class="stripe-button"
                                    data-key="pk_test_lRJ210v4A3Z1wdwpi5469nZj"
                                    data-amount="{% widthratio product.price 1 100 %}"
                                    data-name="{{ product.name }}"
                                    data-description="{{ product.description }}"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto"
                                    data-zip-code="true"
                                    data-currency="gbp">
                                </script>
                            </form></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<div class="pull-left">
  <div class="hover-box">
    <p>Hover me</p>
    <span>This image is totally awesome</span>
  </div>

  <span class="description">This solution is pure css but requires adding the descrption in a span tag.</span>

</div>

<div class="pull-left">
  <div class="hover-box js-hover-box" data-info="This image also very rad">
  </div>

  <span class="description">This solution uses the data attribute and jQuery to create the span for the description.</span>

</div>
{% endblock %}