{% extends 'recipe_app/base.html' %}
{% block content %}
    <div class="row panel form-container">
        <h1>Here are my all recipes:</h1>
        <ul>
            {% for recipe in all_recipes %}
                <li><a href="{% url 'detail' recipe.id %}">{{ recipe.recipe_name }}</a></li>
            {% endfor %}
        </ul>


        <form class="form-wrapper cf container-fluid" method="GET" action="">
            <input type="text" name="q" placeholder="Search here..." value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>

    </div>
{% endblock %}





