{% extends 'recipe_app/base.html' %}
{% block content %}
    <div class="row panel form-container">
        <h3>Search for recipes you can make with the ingredients you might have at home.</h3>
        <ul>
            {% for recipe in all_recipes %}
                <li>
                    <h4>Look what we found!</h4>
                    <a href="{% url 'detail' recipe.id %}">
                        {{ recipe.recipe_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <form class="form-wrapper cf container-fluid" method="GET" action="">
            <input type="text" name="q" placeholder="Search here..." value="{{ request.GET.q }}">
            <button type="submit">Search</button>
        </form>
        <p class="info">Do you have only few ingredients at home and don’t know what to make?<br>

        </p>

    </div>
{% endblock %}





