{% extends "recipe_app/base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
{% endblock %}

{% block content %}
<div class="login-page col-5">
    <div class="form">
        <form class="login-form" role="form" method="post" action="">
            <legend>Login</legend>
                {% csrf_token %}
                {{ form| as_bootstrap }}
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        </form>
  </div>
</div>

{% endblock %}