{% extends "recipe_app/base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">

        <form class="register-form" role="form" method="post" id="register-form" action="{% url 'register' %}">

                {% csrf_token %}
                {{ form|as_bootstrap }}
            <button type="submit" class="btn btn-primary">Create account</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
        </form>

        <form class="login-form" role="form" method="post" action="{% url 'login' %}">
            <legend>Login</legend>
                {% csrf_token %}
                {{ form| as_bootstrap }}
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
        </form>

  </div>
</div>

{% endblock %}