{% extends 'recipe_app/base.html' %}
{% block title %}Add a New Recipe{% endblock %}
{% block content %}
<div class="row panel form-container">
    <div class="">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Please use our form to add your own recipe</h1><br>
            {% include 'recipe_app/form-template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}