{% extends "recipe_app/base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
{% endblock %}

{% block content %}
    <div class="row panel form-container">
      <form role="form" method="post" id="register-form" action="{% url 'register' %}">
        <div id="credit-card-errors" style="display:none">
          <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <legend>Create a new account</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
      </form>
    </div>
{% endblock %}
