#container {
  background-color: rgba(255, 255, 255, 0.9);
  margin:30px auto;
  display:block;
  height: 100%;
  width:100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

#product-img{
  float:left;
  text-align:center;
  width:35%;
  padding:4% 0;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  position:relative;
}

#product-info{
  padding:2%;
  width:65%;
  float:left;
  height:100%;
}

.detail_p {
    text-align: left;
}

h1{
  font-size:41px;
  line-height:41px;
  margin-bottom:15px;
  color:#444;
}

.detail_h1{
  border-bottom: solid 1px #7b8971;
}

h2{
  font-size:17px;
  line-height:17px;
  margin-bottom:15px;
  color:#bbb;
}
.detail_h2 {
  text-align: left;
}




.nike-logo{
  width:80%;
  text-align: center;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;

}