@font-face {
    font-family: tb;
    src: url('fonts/brajanusbricks.ttf');
}

body {
    font-family: Arial, serif;
    background-image: url(images/bg.jpg);
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style: none;
}

li {
    font-size: 12pt;
}

h1 a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Palatino Linotype", serif;
    color: #4a6130;
    padding: 0;
}
h3, h1 {
    text-align: center;
    color: #4a6130;
}

.blog_h3{
    text-align: left;
}

.info {
    font-family: Georgia, "Palatino Linotype", serif;
    text-align: center;
    color: #4a6130;
    font-size: 12pt;
}

.navbar-collapse h1 {
    padding-top: 10px;
    font-family: tb, Arial, serif;
}

a {
    color: #70894a;
}

a:hover, a:focus {
    color: #92ac64
}

input {
    width: 40%;
}


.navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);

}


.nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    padding-bottom: 20px;

}
.navbar-nav > li > a {
    font-size: 20px;
}
.navbar-nav > li > a:hover {
    background: none;
    color: #5a5a5b;
}
.navbar-nav > li > a:focus {
    outline: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.form-container {
    margin-top: 30px;
    padding: 20px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn {
    color: white;
    font-size: 12px;
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
}

.btn:hover, .btn:active, .ntn:focus {
    color: white;
    background-image: linear-gradient(#699934, #73a839 60%, #88c149);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
}
/* Add Recipe Form */
#id_recipe_name {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_category {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_image {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_prep_time {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_difficulty {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_instructions_url {
    display: block;
    width: 50%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.h1-payment{
    color: #699934;
    text-shadow: -1px -2px 3px rgba(17, 17, 17, 0.3);
    text-align: center;
    font-family: Georgia, "Palatino Linotype", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
}

.p-payment {
    color: #4A6130;
    text-align: center;
    font-family: Georgia, "Palatino Linotype", serif;
    font-size: 16px;
}


/* Box Shadow Effect */
.effect6
{
  	position:relative;
    -webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.7) inset;
       -moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.7) inset;
            box-shadow:0 10px 10px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.7) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* Sarch Box CSS */

 body {
     font: 13px 'Lucida sans', Arial, Helvetica;
     color: #5a5a5b;
    }

    /*-------------------------------------*/

    .cf:before, .cf:after{
      content:"";
      display:table;

    }

    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/

    .form-wrapper {
        width: 70%;
        margin-top: 35px;
        padding: 15px;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }

    .form-wrapper input {
        width: 80%;
        padding: 10px 5px;
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }

    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }

    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }

    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }

    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 20%;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background-image: linear-gradient(#88c149, #73a839 60%, #699934);
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }

    .form-wrapper button:hover{
        background: #72a638;
        border-color: #547a29;
    }

    .form-wrapper button:active,
    .form-wrapper button:focus{
        background: #59822c;
    }

    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #699934 transparent;
        top: 12px;
        left: -6px;
    }

    .form-wrapper button:hover:before{
        background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    }

    .form-wrapper button:focus:before{
        background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    }

    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#88c149;
  text-decoration:none;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-8{
    float: left;
}
@media only screen and (max-width: 768px) {
/* For mobile phones: */
    [class*="col-"] {
        width: 100%;
}
.form-wrapper {
    width: 100%;

}
.navbar-collapse {
    margin-right: 0;
}

.container-fluid>.navbar-header {
    margin-right: 0;
}

.container {
    margin-right: 0;
}

#id_recipe_name {
    width: 100%;
}
#id_category {
    width: 100%;
}
#id_image {
    width: 100%;
}
#id_difficulty {
    width: 100%;
}
#id_instructions_url {
    width: 100%;
}
#id_prep_time {
    width: 100%;
}
.recipe_img {

}
.col-8{
    float: left;
    width: 66.66%;
}
}
